VITE_SUPABASE_URL=https://yrrxicyznduhvgwjtarv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlycnhpY3l6bmR1aHZnd2p0YXJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NjM4NzcsImV4cCI6MjA4NzQzOTg3N30.oVuPMIAXhWJsgXKO46Quk0cpLSoTzX7k9jTjep8ghCw
VITE_GROQ_API_KEY=your_groq_key
VITE_HUGGINGFACE_TOKEN=your_hf_token
